WCDB.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- Root Element -->
	<xsd:element name="WorldCrises">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Crisis" type="CrisisType" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="Organization" type="OrganizationType" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="Person" type="PersonType" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="CrisisKind" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" />
							<xsd:element name="Description" type="xsd:string" />
						</xsd:sequence>
					<xsd:attribute name="CKindIdent" type="xsd:string" use="required" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="OrganizationKind" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" />
							<xsd:element name="Description" type="xsd:string" />
						</xsd:sequence>
						<xsd:attribute name="OKindIdent" type="xsd:string" use="required" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PersonKind" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" />
							<xsd:element name="Description" type="xsd:string" />
						</xsd:sequence>
						<xsd:attribute name="PKindIdent" type="xsd:string" use="required" />
					</xsd:complexType>
				</xsd:element>			
			</xsd:sequence>		
		</xsd:complexType>
		
		<!-- Crisis,Organization,Person key and keyref-->
		<xsd:key name="CrisisKey">
		  <xsd:selector xpath="Crisis" />
		  <xsd:field xpath="@CIdent" />
		</xsd:key>
		<xsd:keyref name="CrisisKeyRef" refer="CrisisKey">
		  <xsd:selector xpath="Person/RelatedCrises/RelatedCrisis | Organization/RelatedCrises/RelatedCrisis" />
		  <xsd:field xpath="@CIdent" />
		</xsd:keyref> 
		<xsd:key name="OrganizationKey">
		  <xsd:selector xpath="Organization" />
		  <xsd:field xpath="@OIdent" />
		</xsd:key>
		<xsd:keyref name="OrganizationKeyRef" refer="OrganizationKey">
		  <xsd:selector xpath="Crisis/RelatedOrganizations/RelatedOrganization | Person/RelatedOrganizations/RelatedOrganization" />
		  <xsd:field xpath="@OIdent" />
		</xsd:keyref>
		<xsd:key name="PersonKey">
		  <xsd:selector xpath="Person" />
		  <xsd:field xpath="@PIdent" />
		</xsd:key>
		<xsd:keyref name="PersonKeyRef" refer="PersonKey">
		  <xsd:selector xpath="Crisis/RelatedPersons/RelatedPerson | Organization/RelatedPersons/RelatedPerson" />
		  <xsd:field xpath="@PIdent" />
		</xsd:keyref>
		
		<!-- CrisisKind,OrganizationKind,PersionKind key and keyref -->
		<xsd:key name="CrisisKindKey">
		  <xsd:selector xpath="CrisisKind" />
		  <xsd:field xpath="CKindIdent" />
		</xsd:key>
		<xsd:keyref name="CrisisKindKeyRef" refer="CrisisKindKey">
		  <xsd:selector xpath="Crisis/Kind" />
		  <xsd:field xpath="@CKindIdent" />
		</xsd:keyref>
		<xsd:key name="OrganizationKindKey">
		  <xsd:selector xpath="OrganizationKind" />
		  <xsd:field xpath="@OKindIdent" />
		</xsd:key>
		<xsd:keyref name="OrganizationKindKeyRef" refer="OrganizationKindKey">
		  <xsd:selector xpath="Organization/Kind" />
		  <xsd:field xpath="@OKindIdent" />
		</xsd:keyref>
		<xsd:key name="PersonKindKey">
		  <xsd:selector xpath="PersonKind" />
		  <xsd:field xpath="@PKindIdent" />
		</xsd:key>
		<xsd:keyref name="PersonKindKeyRef" refer="PersonKindKey">
		  <xsd:selector xpath="Person/Kind" />
		  <xsd:field xpath="@PKindIdent" />
		</xsd:keyref>
	
	</xsd:element>
	
	<!-- CrisisType Type -->
	<xsd:complexType name="CrisisType">
		<xsd:sequence>
		  <xsd:element name="Name" minOccurs="1" type="xsd:string" />
		  <xsd:element name="Kind" minOccurs="1" maxOccurs="unbounded">
			<xsd:complexType>
			  <xsd:attribute name="CKindIdent" type="xsd:string" use="required" />
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="Location">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="City" type="xsd:string" minOccurs="0"/>
					<xsd:element name="County" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Province" type="xsd:string" minOccurs="0"/>
					<xsd:element name="State" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Country" type="xsd:string" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="DateAndTime" >
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="Date" type="xsd:date" />
					<xsd:element name="Time" type="xsd:time" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="HumanImpact" minOccurs="1" maxOccurs="unbounded">
			<xsd:complexType>
			  <xsd:sequence>			
				<xsd:element name="Number" type="xsd:integer" />
				<xsd:element name="Type" type="xsd:string" />
			  </xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="EconomicImpact" type="xsd:string" />
		  <xsd:element name="ResourceNeeded" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>  
		  <xsd:element name="WaysToHelp" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
		  <xsd:element name="ExternalResources" type="ExternalResourcesType" />
		  <xsd:element name="RelatedPersons" >
			<xsd:complexType>
			  <xsd:sequence>
				<xsd:element name="RelatedPerson" minOccurs="1" maxOccurs="unbounded">
				  <xsd:complexType>
					<xsd:attribute name="PIdent" type="xsd:string" use="required" />
				  </xsd:complexType>
				</xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="RelatedOrganizations" >
			<xsd:complexType>
			  <xsd:sequence>
				<xsd:element name="RelatedOrganization" minOccurs="1" maxOccurs="unbounded">
				  <xsd:complexType>
					<xsd:attribute name="OIdent" type="xsd:string" use="required" />
				  </xsd:complexType>
				</xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		</xsd:sequence>
		<xsd:attribute name="CIdent" type="xsd:string" use="required" />
    </xsd:complexType>
	
	<!-- Organization Type -->
	<xsd:complexType name="OrganizationType">
		<xsd:sequence>
		  <xsd:element name="Name" type="xsd:string" />
		  <xsd:element name="Kind" minOccurs="1" maxOccurs="unbounded">
			<xsd:complexType>
			  <xsd:attribute name="OKindIdent" type="xsd:string" use="required" />
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="Location" >
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="City" type="xsd:string" minOccurs="0"/>
					<xsd:element name="County" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Province" type="xsd:string" minOccurs="0"/>
					<xsd:element name="State" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Country" type="xsd:string" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="History" type="xsd:string" />
		  <xsd:element name="ContactInfo">
			<xsd:complexType>
			  <xsd:sequence>
				<xsd:element name="Telephone" type="ContactNumberType" />
				<xsd:element name="Fax" type="ContactNumberType" />
				<xsd:element name="Email" type="EmailType" />
				<xsd:element name="Address">
					<xsd:complexType>
						<xsd:sequence>
						  <xsd:element name="StreetAddress" type="xsd:string" />
						  <xsd:element name="City" type="xsd:string" />
						  <xsd:element name="Province" type="xsd:string" minOccurs="0"/>
						  <xsd:element name="State" type="xsd:string" minOccurs="0"/>
						  <xsd:element name="PostalCode" type="xsd:string" />
						  <xsd:element name="Country" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="ExternalResources" type="ExternalResourcesType" />
		  <xsd:element name="RelatedCrises" >
			<xsd:complexType>
			  <xsd:sequence>
				<xsd:element name="RelatedCrisis" minOccurs="1" maxOccurs="unbounded">
				  <xsd:complexType>
					<xsd:attribute name="CIdent" type="xsd:string" use="required" />
				  </xsd:complexType>
				</xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="RelatedPersons" >
			<xsd:complexType>
			  <xsd:sequence>
				<xsd:element name="RelatedPerson" minOccurs="1" maxOccurs="unbounded">
				  <xsd:complexType>
					<xsd:attribute name="PIdent" type="xsd:string" use="required" />
				  </xsd:complexType>
				</xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		</xsd:sequence>
		<xsd:attribute name="OIdent" type="xsd:string" use="required" />
    </xsd:complexType>
	
	<!-- Person Type -->
	<xsd:complexType name="PersonType">
		<xsd:sequence>
		  <xsd:element name="Name">
			<xsd:complexType>
			  <xsd:sequence>
				<xsd:element name="FirstName" type="xsd:string" />
				<xsd:element name="MiddleName" type="xsd:string" minOccurs="0" />
				<xsd:element name="LastName" type="xsd:string" />
			  </xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="Kind" minOccurs="1" maxOccurs="unbounded">
			<xsd:complexType>
			  <xsd:attribute name="PKindIdent" type="xsd:string" use="required" />
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="Location" >
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="City" type="xsd:string" minOccurs="0"/>
					<xsd:element name="County" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Province" type="xsd:string" minOccurs="0"/>
					<xsd:element name="State" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Country" type="xsd:string" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="ExternalResources" type="ExternalResources" />
		  <xsd:element name="RelatedCrises" >
			<xsd:complexType>
			  <xsd:sequence>
				<xsd:element name="RelatedCrisis" minOccurs="1" maxOccurs="unbounded">
				  <xsd:complexType>
					<xsd:attribute name="CIdent" type="xsd:string" use="required" />
				  </xsd:complexType>
				</xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="RelatedOrganizations" >
			<xsd:complexType>
			  <xsd:sequence>
				<xsd:element name="RelatedOrganization" minOccurs="1" maxOccurs="unbounded">
				  <xsd:complexType>
					<xsd:attribute name="OIdent" type="xsd:string" use="required" />
				  </xsd:complexType>
				</xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		</xsd:sequence>
		<xsd:attribute name="PIdent" type="xsd:string" use="required" />
    </xsd:complexType>
	
	<!-- ExternalResources Type -->
    <xsd:complexType name="ExternalResourcesType">
		<xsd:sequence>
		    <xsd:element name="ImageURL" type="URLType" minOccurs="0" maxOccurs="unbounded" />
		    <xsd:element name="VideoURL" type="URLType" minOccurs="0" maxOccurs="unbounded" />
		    <xsd:element name="MapURL" type="URLType" minOccurs="0" maxOccurs="unbounded" />
		    <xsd:element name="SocialNetworkFeedURL" type="URLType" minOccurs="0" maxOccurs="unbounded" />    
		    <xsd:element name="ExternalLinkURL" type="URLType" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Citation" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
    </xsd:complexType>
	
	<!-- URL type -->
	<xsd:simpleType name="URLType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(http|https)://(.)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- ContactNumber Type -->	
	<xsd:simpleType name="ContactNumberType">
		<xsd:restriction base="xsd:string">	
			<xsd:pattern value="(?:[0-9]+-)+[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Email Type -->
	<xsd:simpleType name="EmailType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[^@]+@[^\.]+\..+"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>