WCDB.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- Root Element -->
	<xsd:element name="WorldCrises">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Crisis" type="CrisisType" minOccurs="0" maxOccurs="10" />
				<xsd:element name="Organization" type="OrganizationType" minOccurs="0" maxOccurs="10" />
				<xsd:element name="Person" type="PersonType" minOccurs="0" maxOccurs="10" />
				<xsd:element name="CrisisKind" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" />
							<xsd:element name="Description" type="xsd:string" />
						</xsd:sequence>
					<xsd:attribute name="CKindIdent" type="xsd:string" use="required" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="OrganizationKind" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" />
							<xsd:element name="Description" type="xsd:string" />
						</xsd:sequence>
						<xsd:attribute name="OKindIdent" type="xsd:string" use="required" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PersonKind" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" />
							<xsd:element name="Description" type="xsd:string" />
						</xsd:sequence>
						<xsd:attribute name="PKindIdent" type="xsd:string" use="required" />
					</xsd:complexType>
				</xsd:element>			
			</xsd:sequence>		
		</xsd:complexType>
		
	</xsd:element>
</xsd:schema>