WCDB.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- Root Element -->
	<xsd:element name="WorldCrises">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Crisis" type="CrisisType" minOccurs="0" maxOccurs="10" />
				<xsd:element name="Organization" type="OrganizationType" minOccurs="0" maxOccurs="10" />
				<xsd:element name="Person" type="PersonType" minOccurs="0" maxOccurs="10" />
				<xsd:element name="CrisisKind" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" />
							<xsd:element name="Description" type="xsd:string" />
						</xsd:sequence>
					<xsd:attribute name="CKindIdent" type="xsd:string" use="required" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="OrganizationKind" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" />
							<xsd:element name="Description" type="xsd:string" />
						</xsd:sequence>
						<xsd:attribute name="OKindIdent" type="xsd:string" use="required" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PersonKind" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" />
							<xsd:element name="Description" type="xsd:string" />
						</xsd:sequence>
						<xsd:attribute name="PKindIdent" type="xsd:string" use="required" />
					</xsd:complexType>
				</xsd:element>			
			</xsd:sequence>		
		</xsd:complexType>		
	<!-- Crisis,Organization,Person key and keyref-->
    <xsd:key name="CrisisKey">
      <xsd:selector xpath="Crisis" />
      <xsd:field xpath="@CIdent" />
    </xsd:key>
    <xsd:keyref name="CrisisKeyRef" refer="CrisisKey">
      <xsd:selector xpath="Person/RelatedCrises/RelatedCrisis | Organization/RelatedCrises/RelatedCrisis" />
      <xsd:field xpath="@CIdent" />
    </xsd:keyref> 
    <xsd:key name="OrganizationKey">
      <xsd:selector xpath="Organization" />
      <xsd:field xpath="@OIdent" />
    </xsd:key>
    <xsd:keyref name="OrganizationKeyRef" refer="OrganizationKey">
      <xsd:selector xpath="Crisis/RelatedOrganizations/RelatedOrganization | Person/RelatedOrganizations/RelatedOrganization" />
      <xsd:field xpath="@OIdent" />
    </xsd:keyref>
    <xsd:key name="PersonKey">
      <xsd:selector xpath="Person" />
      <xsd:field xpath="@PIdent" />
    </xsd:key>
    <xsd:keyref name="PersonKeyRef" refer="PersonKey">
      <xsd:selector xpath="Crisis/RelatedPersons/RelatedPerson | Organization/RelatedPersons/RelatedPerson" />
      <xsd:field xpath="@PIdent" />
    </xsd:keyref>
	<!-- CrisisKind,OrganizationKind,PersionKind key and keyref -->
    <xsd:key name="CrisisKindKey">
      <xsd:selector xpath="CrisisKind" />
      <xsd:field xpath="CKindIdent" />
    </xsd:key>
    <xsd:keyref name="CrisisKindKeyRef" refer="CrisisKindKey">
      <xsd:selector xpath="Crisis/Kind" />
      <xsd:field xpath="@CKindIdent" />
    </xsd:keyref>
    <xsd:key name="OrganizationKindKey">
      <xsd:selector xpath="OrganizationKind" />
      <xsd:field xpath="@OKindIdent" />
    </xsd:key>
    <xsd:keyref name="OrganizationKindKeyRef" refer="OrganizationKindKey">
      <xsd:selector xpath="Organization/Kind" />
      <xsd:field xpath="@OKindIdent" />
    </xsd:keyref>
    <xsd:key name="PersonKindKey">
      <xsd:selector xpath="PersonKind" />
      <xsd:field xpath="@PKindIdent" />
    </xsd:key>
    <xsd:keyref name="PersonKindKeyRef" refer="PersonKindKey">
      <xsd:selector xpath="Person/Kind" />
      <xsd:field xpath="@PKindIdent" />
    </xsd:keyref>
	
	</xsd:element>
</xsd:schema>